ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  overflow: hidden;
  height: 60px;
}

img {
  float: left
}

li {
  float: right;
}

li a {
  display: block;
  color: rgb(250, 246, 246);
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

nav a img {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  width: 60px;
  height: 60px;
}

.header-img {
  width: 100%;
  height: auto;
}

.post-edit, .post-detail {
  width: 100px;
  height: 40px;
}

html {
  overflow-y: scroll;
} 

.margin-bottom {
  margin-bottom: 5px;
  vertical-align: baseline;
}

.post-info {
  font-family: 'Patrick Hand', cursive;
  font-size: larger;
}

button {
  color: aliceblue;
}

a {
  text-decoration: none;
}

label {
  font-weight: bold;
  font-size: 2em;
}


